<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <p><u>The form contains <%= pluralize(@user.errors.count, "error") %>.</u></p>
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
      <br />
        <br />
    <% end %>
    </ul>
  </div>
<% end %>