<%= render partial: '/layouts/navbar' %>
<h1>Profiles</h1>

<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">Active</a></dd>
  <dd><a href="#">Pending</a></dd>
  <dd><a href="#">Suspended</a></dd>
</dl>


<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <span class="name">Let's Do This!</span>
    </div>
    <div class="back">
      <div class="back-logo"></div>
      <div class="back-title">Team work!</div>
      <p>We can do this if we work together.</p>
    </div>
  </div>
</div>

