
<% @userinterests.each do |ui| %> 
  <br>
  <div>
    User ID: <%= ui.user_id %> <br>
    Interest ID: <%= ui.interest_id %> <br>
    Skill Level: <%= ui.skill_level %> <br>
  </div>
  <br>
<% end %> 



