@import url(http://fonts.googleapis.com/css?family=Stardos+Stencil);

body {
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
}


h1 {
    font-family: 'Stardos Stencil', cursive;
}