<%# add navigation links to this file %>
<li>Profile<%#= link_to 'Profile', user_path %></li>
<li>
    <%# if current_user %>
        <%= link_to 'Log Out', new_auth_path, method: 'delete' %>
    <%# end %>
</li>